<!DOCTYPE html>
<html lang="en">
<head>
	<title>Chishiki Server</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
	<link rel="stylesheet" type="text/css" href="styles/default.css" />
	<script
  		src="https://code.jquery.com/jquery-3.1.1.min.js"
  		integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  		crossorigin="anonymous">
	</script>
	<script
 		src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
 		integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
 		crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"></script>
  <!-- Custom Javascripts -->
  <script src="scripts/search.jquery.js"></script>
  <script>
  	$(document).ready(function() {
  		$("#searchbar").searchbar();
  	});
  </script>
</head>
<body>
	<div class="container u-full-width u-max-full-width">
		<div class="row">
			<div class="twelve columns">
				<%= erb :search, :layout => false %>
			</div>
		</div>

		<div class="row">
			<div class="twelve columns">
				<%= yield %>
			</div>
		</div>

		<div class="row">
			<div class="twelve columns">
				<%= erb :footer, :layout => false %>
			</div>
		</div>
	</div>
</body>
</html>