<!DOCTYPE html>
<html lang="en">
<head>
	<title>Chishiki Server</title>
	<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
	<link rel="stylesheet" type="text/css" href="styles/default.css" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"></script>
	<script
	  src="https://code.jquery.com/jquery-3.2.1.min.js"
	  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	  crossorigin="anonymous">
	</script>
	<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <!-- Custom Javascripts -->
  <script src="scripts/search.jquery.js"></script>
  <script>
  	$(document).ready(function() {
  		$("#searchbar").searchbar();
			$('#sresult').DataTable();
  	});
  </script>
</head>
<body>
	<div class="container u-full-width u-max-full-width">
		<div class="row">
			<div class="twelve columns">
				<%= erb :search, :layout => false %>
			</div>
		</div>

		<div class="row">
			<div class="twelve columns">
				<%= yield %>
			</div>
		</div>

		<div class="row">
			<div class="twelve columns">
				<%= erb :footer, :layout => false %>
			</div>
		</div>
	</div>
</body>
</html>
