<!-- Header containing logo and searchbar  -->
<div id="header">
	<div id="logo">Chishiki</div>
	<div id="searchbar">
		<input type="text" name="query" /><button id="search" name="search" value="search">Search</button>
	</div>
</div>