<!-- Header containing logo and searchbar  -->
<div id="header" class="row lightbackground">
	<div class="col-md-1">
		<img src="img/eye.png" class="headerimage" />
		<span class="curlytext">chishiki</span>
	</div>
	<div class="col-md-11 darkbackground greenleftborder">
		<input class="fullwidth borderless darkbackground lighttext noborder" id="searchbar" type="text" name="query" value="Search ... " />
	</div>
</div>
