<!-- Header containing logo and searchbar  -->
<div id="header" class="row lightbackground">
	<div class="one columns lighttext veryboldtext centertext bigtext">
		<span class="curlytext">Chishiki</span>
	</div>
	<div class="eleven columns darkbackground">
		<input class="u-full-width borderless darkbackground lighttext noborder" id="searchbar" type="text" name="query" value="Search ... " />
	</div>
</div>