/*

body {
  font-family: "Rubik", sans-serif;
  font-size: 12px !important;
}
*/

@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Rubik');

#header {
	line-height: 48px;
	height: 50px;
}

#header span {
	line-height: normal;
	vertical-align: middle;
}

#footer {
	position: fixed;
    bottom: 0;
    width: 100%;
}

.greenleftborder {
		border-left: 3px solid #3CB29D !important;
}

.headerimage {
	height: 32px;
	width: 32px;
	margin-left: 5px;
	margin-right: 5px;
}

.fullwidth {
	width: 100%;
}

.lightbackground {
	background-color: #19528A !important;
}

.lighterbackground {
	background-color: #336699 !important;
}

.darkbackground {
	background-color: #0E3E6C !important;
}

.lighttext {
	color: #ffffff !important;
}

.noborder {
	border: 0px !important;
}

.centertext {
	text-align: center !important;
}

.veryboldtext {
	font-weight: bolder !important;
}

.bigtext {
	font-size: 24px;
}

.curlytext {
	font-family: "Pacifico";
}

.searchresult {
	border-radius: 3px;
	border: 1px solid #3CB29D;
	margin: 3px;
	padding: 3px;
	background-color: #f1f1f1;
}

.searchresult > h1 {
	font-size: 1em;
}

.searchresult > h2 {
	font-size: 0.8em;
}
